services:
  modbus-server:
    volumes:
      - ./modbus_server.py:/app/modbus_server.py
    image: iacs-modbus-server:dev
    container_name: modbus-server
    ports:
      - "8081:8081"
    command: ["/bin/sh","-c","python /app/modbus_server.py & python -m http.server 8081 --directory /app"]
    networks:
      - modbus_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  modbus-client:
    build:
      context: .
      dockerfile: Dockerfile.modbus_client
    container_name: modbus-client
    networks:
      - modbus_net
    depends_on:
      - modbus-server
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
      
  fuxa:
    image: frangoteam/fuxa:latest
    container_name: fuxa
    restart: unless-stopped
    networks:
      - modbus_net
    ports:
      - "1881:1881"
    volumes:
      - "./fuxa/appdata:/usr/src/app/FUXA/server/_appdata"
      - "./fuxa/db:/usr/src/app/FUXA/server/_db"
      - "./fuxa/logs:/usr/src/app/FUXA/server/_logs"
      - "./fuxa/images:/usr/src/app/FUXA/server/_images"
    environment:
      - PORT=1881
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  diagnostics:
    build:
      context: .
      dockerfile: Dockerfile.diagnostics
    image: iacs-diagnostics:dev
    container_name: diagnostics
    depends_on:
      - fuxa
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      - modbus_net
    ports:
      - "8082:8082"
    command: ["/bin/bash", "-lc", "/usr/local/bin/ttyd --version >/dev/null 2>&1 && /usr/local/bin/ttyd -p 8082 bash"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  modbus_net:
    driver: bridge
